html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white !important;
}

body {
background-color: #d1cdb3 !important;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/*    background: #db9914 url('../img/arches.png');*/ /* Background pattern from Subtle Patterns */
    font-family: 'Pacifico', cursive !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
/*    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);*/
    background: background-color: #574a54;
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.incorrect {
    cursor: default;
    background: #ef5007;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 70%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    font-size: 1.5rem;
}

.stars {
    margin: 0;
    padding: 0px 5px 0 5px;
    display: inline-block;
    margin: 0 5px 0 0;
    display: flex;
    flex: 1;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    display: flex;
    flex: 3;
    width: 50px;
    flex-grow: 0 !important;
}

.score-panel .clock {
    display: inline-flex;
    flex: 2;
    padding: 0px 0px 0 50px;
    margin-left: 10px;
}

.minutes {
  padding: 0px 1px 0 1px;
}

.seconds {
  padding: 0px 5px 0 5px;
}

.fa-star {
  stroke: black;
  stroke-width: 50;
}

.lock {
  pointer-events: none;
}

.fa-repeat {
  float: right;
  vertical-align: -30% !important;
  bottom: 10px;
}

.moves {
  padding-right: 10px;
}

.modal-content {
  background-color: #06676e !important;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");
  font-family: 'Taviraj', serif;
  text-align: center;
}

#star-rating {
  justify-content: center;
  padding-left: 42%;
}

.modal-header {
  text-align: center;
}

/*Keyframe Animations*/
/* ----------------------------------------------
 * Generated by Animista on 2018-5-23 16:26:47
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tl-forward {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
@keyframes shadow-pop-tl-forward {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}

.shadow-pop-tl-forward {
  -webkit-animation: shadow-pop-tl 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tl 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-23 16:28:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tl-reverse {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
@keyframes shadow-pop-tl-reverse {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}

.shadow-pop-tl-reverse {
  -webkit-animation: shadow-pop-tl 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
          animation: shadow-pop-tl 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}
